body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
}

.chart-container {
  margin-bottom: 20px;
}

.input-table-container {
  text-align: left;
}

.input-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.input-table th,
.input-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.input-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.data-input {
  width: 100%;
  box-sizing: border-box;
}

.btn {
  padding: 10px 20px;
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-weight: bold;
}

.btn.filled {
  background-color: #333;
}

.btn.filled:hover {
  background-color: #555;
}

.btn.slide-bg {
  position: relative;
  overflow: hidden;
}

.btn.slide-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4CAF50;
  transform: translateX(-100%);
  transition: transform 0.3s;
}

.btn.slide-bg:hover::before {
  transform: translateX(0);
}

.btn.slide-bg:hover {
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}